config.yaml

# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.venv/

# Playwright / Crawlers
playwright/.cache/
browser_data/
downloads/
crawl_output-api/

# Logs & temp
*.log
tmp/
.cache/

# OS
.DS_Store
Thumbs.db
