<div id="OTPModel" class="modal fade closeModel" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h4 class="w-100 text-center mb-0">{{ this.otpFor == 'LS' ? 'OTP Verification' : 'Order Complete OTP'}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="otpModelDismisx"
          (click)="ngOtpInput.setValue('')"></button>
      </div>
      <div class="container h-100 d-flex justify-content-center align-items-center mb-3">
        <div class="position-relative">
          <div class="card p-2 text-center">
            <p class="mb-0 fs-d">{{ this.otpFor == 'LS' ? 'Please enter the OTP sent to your Email ID.' : 'Please enter the
              OTP to complete the order'}}</p>
            <br>
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)"
              [config]="{length:5,allowNumbersOnly:true}"></ng-otp-input>
            <br>
            <p class="" *ngIf="this.otpFor == 'LS'">Check the Spam / Junk folder <br> in case you didn't receive email. </p>
            <!-- <p class="mb-0" *ngIf="this.otpFor == 'LS'">Not received? Click "Resend OTP".</p> -->
            <p class="text-center text-danger" *ngIf="this.otpFor == 'LS'">{{counter | formatTime}} </p>
            <p class="text-center text-danger mb-0" *ngIf="isOTPInvalid">Please enter a valid OTP</p>

            <div class="btn-list flex-content-center">
              <button class="btn btn-theme-primary px-4 validate" *ngIf="this.otpFor == 'LS'"
                [disabled]="!isValidOTP || counter === 0" (click)="validate()">Validate</button>
              <button [disabled]="counter !== 0" class="btn btn-theme-secondary px-4 validate ms-2" *ngIf="this.otpFor == 'LS'"
                (click)="resendOTP()">Resend OTP</button>
              <button class="btn btn-primary  px-4 validate" *ngIf="this.otpFor == 'OS'" (click)="validate()" [disabled]="!isValidOTP">Complete Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>