.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.8);
    z-index: 99;
}



.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.2); 
    border-top: 4px solid #1a237e; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 99999;
    animation: spin 1s linear infinite, changeColor 4s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes changeColor {
    0%, 50% {
        border-top-color: #1a237e;
    }
    50.1%, 100% {
        border-top-color: #2196f3; 
    }
}

