<section class="main-section mx-auto">

  <div class="container">

    <!-- Top Share Bar -->
    <div
      class="scrape-details d-flex flex-wrap justify-content-between align-items-center my-3 gap-2"
      *ngIf="parsedBlocks.length"
    >

      <a
        class="text-color-black text-break text-center"
        [href]="parsedBlocks[0].url"
        target="_blank"
      >
        {{ parsedBlocks[0].url }}
      </a>

      <button type="button" class="btn btn-light fs-13 p-2 py-1">
        <img src="assets/image/upload.png" class="fav-icon">
        Share
      </button>

    </div>


    <!-- Header Section -->
    <div
      class="header-actions d-flex flex-wrap justify-content-between align-items-center mt-4 mb-5 gap-3"
    >

      <span>
        <h5 class="fs-17 text-break">
          {{ parsedBlocks[0].title }}
        </h5>

        <a
          class="text-color-grey fs-13 text-break"
          [href]="parsedBlocks[0].url"
          target="_blank"
        >
          {{ parsedBlocks[0].url }}
        </a>
      </span>


      <div class="d-flex flex-wrap gap-2">

        <button
          type="button"
          class="btn btn-light fs-13 p-2 py-1"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <img src="/assets/image/danger.png" class="fav-icon">
          Report issue
        </button>

        <button type="button" class="btn btn-light fs-13 p-2 py-1">
          <img src="/assets/image/download.png" class="fav-icon">
          JSON
        </button>

        <button type="button" class="btn btn-light fs-13 p-2 py-1">
          <img src="/assets/image/download.png" class="fav-icon">
          Markdown
        </button>

      </div>

    </div>


    <!-- Tabs -->
    <ul
      class="nav nav-pills mb-3 mt-4 bg-white scroll-tabs"
      id="pills-tab"
      role="tablist"
    >

      <li class="nav-item">
        <button
          class="nav-link active"
          data-bs-toggle="pill"
          data-bs-target="#pills-markdown"
        >
          Markdown
        </button>
      </li>

      <li class="nav-item">
        <button disabled class="nav-link">Summary</button>
      </li>

      <li class="nav-item">
        <button disabled class="nav-link">Links</button>
      </li>

      <li class="nav-item">
        <button disabled class="nav-link">HTML</button>
      </li>

      <li class="nav-item">
        <button disabled class="nav-link">Screenshot</button>
      </li>

      <li class="nav-item">
        <button disabled class="nav-link">Branding</button>
      </li>

      <li class="nav-item">
        <button disabled class="nav-link">Images</button>
      </li>

    </ul>


    <!-- Tab Content -->
    <div
      class="tab-content mx-auto"
      [ngStyle]="{ overflow: token ? 'auto' : 'hidden' }"
    >

      <div
        class="tab-pane fade show active p-2"
        id="pills-markdown"
        *ngFor="let block of parsedBlocks; let i = index"
      >

        <div class="report-container">

          <div class="d-flex justify-content-between flex-wrap gap-2">

            <h3 class="title">
              {{ i + 1 }}. {{ block.title }}
            </h3>

            <button
              *ngIf="token"
              class="btn btn-sm btn-primary"
              (click)="download(block.raw, i)"
            >
              Download .md
            </button>

          </div>


          <pre class="content">
{{ block.raw }}
          </pre>

        </div>

      </div>

    </div>


    <!-- Login Message -->
    <div *ngIf="!token" class="gcnot-login text-center mx-auto p-3">

      <h5 class="fs-15">
        Create an account to view full markdown
      </h5>

      <p class="fs-13 mb-1">
        Make a free account to access complete output
      </p>

      <p class="fs-13 mb-2">
        No credit card required
      </p>

      <button
      (click)="isLogin()"
        class="btn btn-danger fs-13 p-2"
      >
        Signup (500 free credits)
      </button>

    </div>

  </div>

</section>


<!-- ================= MODAL ================= -->

<div class="modal fade" id="exampleModal">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header p-2">

        <p class="modal-title">
          Report / Scrape issue
        </p>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal">
        </button>

      </div>


      <div class="modal-body">

        <form [formGroup]="reportForm">

          <div class="mb-2">
            <label class="fs-13">URL affected</label>
            <input type="text" class="form-control p-1">
          </div>


          <div class="mb-2">
            <label class="fs-13">Email</label>
            <input type="email" class="form-control p-1">
          </div>


          <div class="mb-2">

            <label class="fs-13">
              What's the issue?
            </label>

            <div class="issue-container">

              <label class="issue-box">
                <input type="checkbox">
                Missing content
              </label>

              <label class="issue-box">
                <input type="checkbox">
                Bot protections
              </label>

              <label class="issue-box">
                <input type="checkbox">
                Formatting issues
              </label>

              <input
                type="text"
                class="form-control"
                placeholder="Other"
              >

            </div>

          </div>


          <div class="mb-2">

            <label class="fs-13">Explanation</label>

            <textarea
              class="form-control"
              rows="3"
              placeholder="Provide details">
            </textarea>

          </div>

        </form>

      </div>


      <div class="modal-footer p-2">

        <button class="btn btn-danger w-100">
          Submit Report
        </button>

      </div>

    </div>

  </div>

</div>
