.badge-new {
  background: var(--grid-line-color);
  color: var(--text-color-secondary);
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 6px;
  margin-left: 4px;
}

.primary-color {
  color: #21D496;
}

.badge-promo {
  display: inline-block;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 6px 16px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 20px;
  margin-bottom: 24px;
  background: rgba(33, 212, 150, 0.05);
}