<section class="my-3">
    <div class="container">
        <div class="d-flex justify-content-between w-100">
            <div class="logo">
                <img src="/assets/image/gramologo.svg" alt="" class="me-3">
            </div>
            <div>
                <button routerLink="/auth" type="button" class="btn btn-danger me-3 fs-13 p-2 py-1">
                    Signup
                </button>

                <button type="button" class="btn btn-light fs-13 p-2 py-1">
                    <img class="fav-icon" src="/assets/image/github.png" alt=""> 11.1k
                </button>
            </div>
        </div>
    </div>
</section>