.auth-wrapper {
  min-height: 100vh;
}

.auth-card {
  width: 100%;
  max-width: 365px;
  background: #0c0303;
  padding: 23px;
  border-radius: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 1px solid #205815;
}

.brand {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.tab-switch {
  background: #f2f2f2;
  border-radius: 12px;
  padding: 6px;
}

.tab-btn {
  flex: 1;
  border: none;
  background: transparent;
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;
}

.tab-btn.active {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-control {
  height: 40px;
  border-radius: 7px;
}

.btn-orange {
  background: #07c25e;
  color: #fff;
  height: 38px;
  border-radius: 30px;
  font-weight: 600;
  border: none;
}

.btn-orange:hover {
  background: #07c25e;
}


:host {
  --neon-green: #00ff41;
  --dark-bg: #050505;
}

.analytics-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-bg);
  display: flex;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg,
      var(--dark-bg) 5%,
      transparent 20%,
      transparent 80%,
      var(--dark-bg) 95%);
  z-index: 10;
  pointer-events: none;
}

.column {
  flex: 1;
  border-right: 1px solid rgba(0, 255, 65, 0.1);
  padding: 10px;
  opacity: 0.6;
}

.crawl-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  animation: data-crawl linear infinite;
}

.speed-slow {
  animation-duration: 40s;
  color: #008f11;
}

.speed-medium {
  animation-duration: 25s;
  color: var(--neon-green);
}

.speed-fast {
  animation-duration: 15s;
  color: #adff2f;
  font-weight: bold;
}

@keyframes data-crawl {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

pre {
  white-space: pre-wrap;
  margin-bottom: 2rem;
}

.md-block {
  border-left: 2px solid var(--neon-green);
  padding-left: 10px;
  margin-bottom: 3rem;
}

section {
  position: relative;
  z-index: 2;
}

.analytics-bg {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.auth-wrapper {
  position: relative;
  z-index: 5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6%;
}

@media (max-width: 768px) {
  .auth-wrapper {
    justify-content: center;
    padding-right: 0;
  }
}

.form-label {
  color: #fff;
}

.confirm-visible {
  position: absolute;
  right: 0;
  top: 33px;
}

.new-visible {
    position: absolute;
    right: 0;
    top: 33px;

}