<section class="auth-layout">
  <div class="analytics-bg">
    <div class="overlay"></div>

    <div class="column col-json">
      <div class="crawl-wrapper speed-slow">
        <pre *ngFor="let i of [1,2,3,4,5]">{{ jsonData }}</pre>
      </div>
    </div>

    <div class="column col-md">
      <div class="crawl-wrapper speed-medium">
        <div class="md-block" *ngFor="let i of [1,2,3,4,5]">
          <h3>## CRAWL_RESPONSE_STREAM</h3>
          <p>* TARGET_URL: https://example.com</p>
          <p>* STATUS: SCRAPING_IN_PROGRESS</p>
          <p>* PAGES_DISCOVERED: 12</p>
          <p>* DATA_EXTRACTED: 3.4 KB</p>
          <p>> FETCHING_HTML_CONTENT...</p>
          <p>> PARSING_DOM_STRUCTURE...</p>
          <p>> EXTRACTING_METADATA...</p>
        </div>

      </div>
    </div>

    <div class="column col-logs">
      <div class="crawl-wrapper speed-fast">
        <div *ngFor="let log of logs">{{ log }}</div>
        <div *ngFor="let i of [1,2,3,4,5]">
          0x4F 0xAC 0x22 0x11 0x88
        </div>
      </div>
    </div>
  </div>

  <!-- Auth UI -->
  <div class="auth-wrapper">
    <div class="auth-card mx-auto">
      <div class="text-center mb-4">
        <h2 class="brand"><span>Gramocrawl</span></h2>
      </div>

      <div class="tab-switch d-flex mb-4" *ngIf="!Isforgot">
        <button class="tab-btn" [class.active]="activeTab === 'login'" (click)="activeTab = 'login'">
          Log In
        </button>
        <button class="tab-btn" [class.active]="activeTab === 'signup'" (click)="activeTab = 'signup'">
          Sign Up
        </button>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()" *ngIf="!Isforgot">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" />

          <div class="text-danger" *ngIf="loginForm.get('email')?.touched">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">
              Email is required
            </small>
          </div>
        </div>
        <div class="mb-4 position-relative">
          <label class="form-label">Password</label>
          <input [type]="hidePassword ? 'password' : 'text'" formControlName="password"
            class="form-control position-relative" />
          <button type="button" class="btn btn-outline-secondary confirm-visible"
            (click)="hidePassword = !hidePassword">
            <i class="fa" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>

          <div class="text-danger" *ngIf="loginForm.get('password')?.touched">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">
              password is required
            </small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
              Password must be at least 8 characters
            </small>
            <small *ngIf="loginForm.get('password')?.errors?.['pattern']">
              Must contain at least one number and one special character
            </small>
          </div>
        </div>

        <button class="btn btn-orange w-100" type="submit">
          {{ activeTab === 'signup' ? 'Create Account' : 'Log In' }}
        </button>
        <div class="d-flex justify-content-start w-100 mt-1" (click)="forgot()">
          Forgot password
        </div>
      </form>

      <form *ngIf="Isforgot" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <div class="mb-4 position-relative">
          <label class="form-label">New Password</label>
          <input [type]="hideNewPassword ? 'password' : 'text'" formControlName="newpassword"
            class="form-control position-relative" />
          <button type="button" class="btn btn-outline-secondary confirm-visible"
            (click)="hideNewPassword = !hideNewPassword">
            <i class="fa" [ngClass]="hideNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>

          <div class="text-danger" *ngIf="passwordForm.get('newpassword')?.touched">
            <small *ngIf="passwordForm.get('newpassword')?.errors?.['required']">
              Password is required
            </small>
            <small *ngIf="passwordForm.get('newpassword')?.errors?.['minlength']">
              Password must be at least 8 characters
            </small>
            <small *ngIf="passwordForm.get('newpassword')?.errors?.['pattern']">
              Must contain at least one number and one special character
            </small>
          </div>
        </div>

        <div class="mb-4 position-relative">
          <label class="form-label">Confirm Password</label>
          <input [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmpassword"
            class="form-control position-relative" />
          <button type="button" class="btn btn-outline-secondary new-visible"
            (click)="hideConfirmPassword = !hideConfirmPassword">
            <i class="fa" [ngClass]="hideConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>

          <div class="text-danger" *ngIf="passwordForm.get('confirmpassword')?.touched">
            <small *ngIf="passwordForm.get('confirmpassword')?.errors?.['required']">
              Confirm password is required
            </small>
            <small *ngIf="passwordForm.get('confirmpassword')?.errors?.['mismatch']">
              Passwords do not match
            </small>
          </div>
        </div>
        <button class="btn btn-orange w-100" type="submit" [disabled]="passwordForm.invalid">
          Submit
        </button>

      </form>
    </div>
  </div>
</section>

<!-- <app-otp-modal (validateEvent)="validateOtp($event)" [otpFor]="'LS'"></app-otp-modal> -->

<app-otp-modal (validateEvent)="onOtpSubmit($event)" (resendOtpEvent)="signUpSubmit()" [otpFor]="'LS'">
</app-otp-modal>