.password-cred {
    border: 1px dashed var(--tertiary-color);
    border-radius: 8px;
    padding: 10px;
    position: relative;
    background-color: #ddd;
}

.btn-copy {
    position: absolute;
    top: 0;
    right: 0;
}

.logo {
    width: 75px;
}