<section>
  <div class="container">
    <div class="text-center">
      <p class="batch-btn mx-auto bg-white">2 Months Free — Annually</p>
      <h1 class="mb-0 bg-white">Turn websites into</h1>
      <h1><span class="primary-color bg-white">LLM-ready</span> data</h1>
      <p class="mb-0 fs-13 fw-400">Power your AI apps with clean web data<br>
from any website.It's also open source.</p>
    </div>
  </div>
</section>


<!-- <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">...
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...
  </div>
</div> -->